<!DOCTYPE html>
<html>
  <head>
    <title>Simple Form with CRUD Operations</title>
  </head>
  <body>
    <div>
      <h2>CRUD Operation Form</h2>

      <form action="" method="post">
        <label for="input_id">Enter File ID:</label><br />
        <input
          type="number"
          id="input_id"
          name="input_id"
          value=""
        /><br /><br />
        <button type="submit" name="action" value="delete">Delete</button>
        <button type="submit" name="action" value="read">Read</button>
      </form>
      <h1>Upload new File</h1>
      <form method="post" enctype="multipart/form-data">
        {% if get_flashed_messages() %} {% for message in
        get_flashed_messages()%}
        <p>{{ message }}</p>
        {% endfor %} {% endif %}
        <p></p>

        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>
